{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        {{age}}, {{gender}}
        <br>
        <hr>

        <address>
            {{address.street}} <br>
            {{address.city}} ({{address.state}}) <br>
            {{address.zip}}, {{address.country}}
        </address>
        <hr>
        <br>
    </div>

    <div>
        <h2>Education</h2>
    </div>

    <div>
        <ul>
            {{#each education}}
            <li>
                {{degree}} <br>
                {{major}} <br>
                {{university}} ({{graduationYear}})
            </li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <h3>Experience</h3>
    </div>

    <div>
        <ul>
            {{#each workExperience}}
            <li>
                {{company}} <br>
                {{title}} <br>
                ({{startDate}}) - ({{endDate}})

                <br>

                <div>
                    <ul>
                        {{#each responsibilities}}
                        <li>
                            <p>{{this}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <br>

                {{year_founded}} <br>
                {{industry}}
                <br>

                <div>
                    <ul>
                        {{#each employees}}
                        <li>
                            {{name}} <br>
                            {{position}} <br>
                            {{department}}

                            <br>

                            <div>
                                <ul>
                                    {{#each projects}}
                                    <li>
                                        {{name}}
                                        <p>{{description}}</p>
                                        {{status}}
                                        <br>
                                        <div>
                                            <ul>
                                                {{#each teams}}
                                                <li>
                                                    {{team_name}} <br>
                                                    {{team_leader.name}} ({{team_leader.title}})<br>
                                                    {{team_leader.email}}
                                                    <br>
                                                    <br>
                                                    <div>
                                                        <ul>
                                                            {{#each team_members}}
                                                            <li>
                                                                {{name}}<br>
                                                                {{title}}<br>
                                                                {{email}}
                                                                <br>
                                                                <ul>
                                                                    {{#each skills}}
                                                                    <li>
                                                                        {{this}}
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                                <br>
                                                                <ul>
                                                                    {{#each projects}}
                                                                    <li>
                                                                        {{name}}<br>
                                                                        {{description}}<br>
                                                                        <div>
                                                                            <ul>
                                                                                {{#each technologies}}
                                                                                <li>
                                                                                    {{this}}
                                                                                </li>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                        <br>
                                                                        <div>
                                                                            <ul>
                                                                                {{#each team_members}}
                                                                                <li>
                                                                                    {{name}}<br>
                                                                                    {{title}}
                                                                                </li>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                        <br>
                                                                    </li>
                                                                    {{/each}}<br>
                                                                </ul>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/defaullt.hbs має вже структуру HTML
--}}