{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div>
    {{#with program}}
    <div>
        {{#with excursion}}
        <div>
            <h1>{{name}}</h1>
            <h3>{{location.city}} / {{location.country}}</h3>
            <time>{{date}}</time><br>
            <hr>
        </div>

        <br>

        <div>
            {{#each program}}
            <h2>{{name}}</h2>
            {{type}} ({{duration}})
            <br>
            <br>
            <hr>
            <div>
                {{#with details}}
                {{#with museum}}
                <strong>{{name}}</strong>
                <br>
                <div>
                    {{#with location}}
                    <address>{{address}}</address>
                    <address>{{city}} / {{country}}</address><br>

                    {{/with}}
                </div>

                <br>

                <div>
                    <ul>
                        {{#each exhibits}}
                        <li>
                            <b>{{name}}</b><br>
                            {{artist}}<br>
                            <p>{{description}}</p>
                            <div>
                                {{#if audio_guide}}
                                <figure>
                                    <figcaption>Listen audio guide:</figcaption>
                                    <audio controls src="#">
                                        <a href="#">
                                            Download audio
                                        </a>
                                    </audio>
                                </figure>
                                {{/if}}
                            </div>
                        </li>
                        <br>
                        {{/each}}
                    </ul>
                </div>
                {{/with}}

                <div>
                    {{#with venue}}
                    <strong>{{name}}</strong>
                    <br>
                    <div>
                        {{#with location}}
                        <address>{{address}}</address>
                        <address>{{city}} / {{country}}</address><br>

                        {{/with}}
                    </div>
                    {{/with}}
                </div>

                <br>

                <div>
                    <ul>
                        {{#each performers}}
                        <li>
                            <b>{{name}}</b><br>
                            {{type}}<br>
                        </li>
                        <br>
                        {{/each}}
                    </ul>
                </div>

                <div>

                    {{#with guide}}
                    <h3>Guide {{name}}</h3>
                    {{language}} ({{rating}})<br>
                    {{/with}}
                </div>

                <hr>
                <hr>

                {{/with}}
            </div>
            {{/each}}

        </div>
        {{/with}}
    </div>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/defaullt.hbs має вже структуру HTML
--}}