{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    {{#with navigation}}
    <div class="card">

        <div class="row">
            <div class="col-8">
                <h1 class="ms-3">{{Logo}}</h1>
            </div>

            <div class="col-4">
                <div class="nav mt-2">
                    {{#each links}}
                    <div>
                        <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    <hr>


    {{#with newsBlock}}
    <div class="display-6 text-center mb-5">{{title}}</div>

    <div class="row g-2">
        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-dark">
                <div class="card-header">
                    <p>{{title}}
                        {{#if isTop}}
                        <span class="bage text-bg-danger rounded-pill m-2 px-2"> Top </span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="bage text-bg-success rounded-pill m-3 px-2"> Нова </span>
                        {{/if}}
                    </p>
                </div>
                <div class="card-body">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr>

    {{#with goodsBlock}}
    <div class="row g-4 mb-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    {{#if isActive}}
                    <a href="#" class="nav-link active">{{text}}</a>
                    {{else}}
                    <a class="nav-link {{#if isDisabled}} disabled {{/if}}" href="#">{{text}}</a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row g-2">
        {{#each cards}}
        <div class="col-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{{image}}" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}
                        {{#if isHot}}
                        <span class="bage text-bg-warning rounded-pill m-2 px-2">HOT!</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="bage text-bg-primary rounded-pill m-3 px-2">Нове</span>
                        {{/if}}
                    </h5>
                    <p>{{description}}
                    </p>

                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}

        <hr>

        {{#with subscribe}}
        <div class="card text-bg-dark m-2">

            <div class="row g-2">
                <div class="col-6">
                    <h2 class="ms-1">{{header}}</h2>
                    <p class="ms-1">{{description}}</p>
                </div>
                {{#each buttons}}
                <div class="col-3">
                    <div class="card mt-4">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                </div>{{/each}}
            </div>
        </div>
        {{/with}}

        <hr>

        {{#with service}}
        <div class="card text-bg-success m-2">
            <div class="card-body text-center">
                <h2 class="text-center ms-1">{{title}}</h2>
                <p class="ms-1 text-center">{{description}}</p>
                {{#each buttons}}
                <a href="{{link}}" class="btn btn-primary text-right">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}

        <hr>

        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        {{/each}}































</main>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/defaullt.hbs має вже структуру HTML
--}}